In [6]:
import pandas as pd

In [7]:
from IPython.display import display

In [8]:
import matplotlib.pyplot as plt

In [9]:
import seaborn as sns

#Loading csv data for statistical analysis and Eda

In [10]:

data_Benin_malanville = pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Benin/solar-measurements_benin-malanville_qc.csv", encoding='latin-1',low_memory=False)

In [22]:
Summary = data_Benin_malanville.apply(pd.to_numeric, errors='coerce')

In [27]:
Summary.describe()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,0.0,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,NaN,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,NaN,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,NaN,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,NaN,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,NaN,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,NaN,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,NaN,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

In [103]:
null_counts = data_Benin_malanville[["GHI", "DNI", "DHI"]].isnull().sum()
print(null_counts)

GHI    0
DNI    0
DHI    0
dtype: int64

summary_statistics = data_Benin_malanville[['GHI', 'DNI', 'DHI']].describe()
print("\nSummary Statistics:")
print(summary_statistics)

In [30]:
# Find the column name(s) corresponding to the top values
top_values = {'GHI': -1.5, 'DNI': -0.3, 'DHI': -1.4}  # Assuming these are the top values in each column

for col, top_value in top_values.items():
    freq = summary_statistics.loc['freq', col]
    print(f"Column: {col}, Top Value: {top_value}, Frequency: {freq}")

Column: GHI, Top Value: -1.5, Frequency: 15339
Column: DNI, Top Value: -0.3, Frequency: 47152
Column: DHI, Top Value: -1.4, Frequency: 15025

In [ ]:
# From tha output of the above we conclude that there is no missing value
# There is anomaly of error in the data bacuase normally the GHI, DNI and DHI should be positive

In [33]:
data_Benin_malanville[['GHI', 'DNI', 'DHI']] = data_Benin_malanville[['GHI', 'DNI', 'DHI']].apply(pd.to_numeric, errors='coerce')

negative_values_count = (Summary[['GHI', 'DNI', 'DHI']] < 0).sum()
print("\nNegative Values Count:")
print(negative_values_count)

Negative Values Count:
GHI    258847
DNI    275987
DHI    259182
dtype: int64

In [ ]:
data = data_Benin_malanville[["GHI", "DNI", "DHI"]]

In [91]:
columns_to_describe = data_Benin_malanville.drop(columns=['Comments'])

In [112]:
# Calculate correlation matrix
correlation_matrix = df[['GHI', 'DHI', 'DNI', 'TModA', 'TModB']].corr()

# Print correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

KeyError: "['TModA', 'TModB'] not in index"

In [94]:
df=columns_to_describe.describe

In [95]:
display(df)

<bound method NDFrame.describe of                Timestamp   GHI   DNI   DHI  ModA  ...   BP Cleaning  \
0       yyyy-mm-dd hh:mm  W/m²  W/m²  W/m²  W/m²  ...  hPa   1 or 0
1       2021-08-09 00:01  -1.2  -0.2  -1.1     0  ...  998        0
2       2021-08-09 00:02  -1.1  -0.2  -1.1     0  ...  998        0
3       2021-08-09 00:03  -1.1  -0.2  -1.1     0  ...  997        0
4       2021-08-09 00:04  -1.1  -0.1    -1     0  ...  997        0
...                  ...   ...   ...   ...   ...  ...  ...      ...
525596  2022-08-08 23:56  -5.5  -0.1  -5.9     0  ...  996        0
525597  2022-08-08 23:57  -5.5  -0.1  -5.8     0  ...  996        0
525598  2022-08-08 23:58  -5.5  -0.1  -5.8     0  ...  996        0
525599  2022-08-08 23:59  -5.5  -0.1  -5.8     0  ...  996        0
525600  2022-08-09 00:00  -5.5  -0.1  -5.7     0  ...  996        0

       Precipitation TModA TModB
0             mm/min    °C    °C
1                  0  26.3  26.2
2                  0  26.3  26.2
3                  0  26.4  26.2
4                  0  26.4  26.3
...              ...   ...   ...
525596             0  23.5  22.9
525597             0  23.5  22.9
525598             0  23.5  22.9
525599             0  23.5  22.9
525600             0  23.5  22.9

[525601 rows x 18 columns]>

In [83]:
# data_Benin_parakou =pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Benin/solar-measurements_benin-parakou_qc.csv",encoding='latin-1',low_memory=False)

In [84]:
data_SierraLeone_bumbuna=pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Sirearra-Leone/solar-measurements_sierraleone-bumbuna_qc.csv" ,encoding='latin-1',low_memory=False)

In [85]:
# data_SierraLeone_kenema=pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Sirearra-Leone/solar-measurements_sierraleone-kenema_qc.csv" ,encoding='latin-1',low_memory=False)

In [58]:
data_Togo_togodapaong = pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Togo/solar-measurements_togo-dapaong_qc.csv" ,encoding='latin-1',low_memory=False)

In [59]:
# data_Togo_togodavie = pd.read_csv("/home/yadasa/Desktop/10-Academy-week-0/src/models/datasets/Togo/solar-measurements_togo-davie_qc.csv",encoding='latin-1',low_memory=False)

In [60]:
print("Summary Statistics for Benin Malanville Dataset:")

Summary Statistics for Benin Malanville Dataset:

In [61]:
print(data_Benin_malanville.describe())

       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [62]:
print("\nSummary Statistics for Benin Parakou Dataset:")

Summary Statistics for Benin Parakou Dataset:

In [63]:
print(data_Benin_parakou.describe())

               Timestamp     GHI     DNI     DHI    ModA  ... Cleaning  \
count             525601  525601  525601  525601  525601  ...   525601
unique            525601    8710    8184    6957   10433  ...        4
top     2022-08-13 00:00    -1.6     NAN     NAN       0  ...        0
freq                   1    9816   77760   77760  245964  ...   524019

       Precipitation   TModA   TModB  \
count         525601  525601  525601
unique            25     628     563
top                0    22.4    22.6
freq          519741    6400    6631

                                                 Comments
count                                               77760
unique                                                  1
top     Solar tracker not aligned, no DNI and DHI meas...
freq                                                77760

[4 rows x 19 columns]

In [64]:
print("\nSummary Statistics for Sierra Leone Bumbuna Dataset:")

Summary Statistics for Sierra Leone Bumbuna Dataset:

In [65]:
print(data_SierraLeone_bumbuna.describe())

       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [66]:
print("\nSummary Statistics for Sierra Leone Kenema Dataset:")

Summary Statistics for Sierra Leone Kenema Dataset:

In [67]:
print(data_SierraLeone_kenema.describe())

               Timestamp     GHI     DNI     DHI    ModA  ... Cleaning  \
count             525601  525601  525601  525601  525601  ...   525601
unique            525601    8746    8674    7252   10089  ...        4
top     2022-11-18 00:00    -0.9    -0.1    -0.8       0  ...        0
freq                   1   11984   57678   11624  246424  ...   525044

       Precipitation   TModA   TModB                   Comments
count         525601  525601  525601                         47
unique            27     595     622                          1
top                0    23.1    23.6  Power supply disconnected
freq          514748    9818    9838                         47

[4 rows x 19 columns]

In [68]:
print("\nSummary Statistics for Togo Dapaong Dataset:")

Summary Statistics for Togo Dapaong Dataset:

In [69]:
print(data_Togo_togodapaong.describe())

       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [70]:
print("\nSummary Statistics for Togo Davie Dataset:")

Summary Statistics for Togo Davie Dataset:

In [71]:
print(data_Togo_togodavie.describe())

       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [72]:
print(data_Togo_togodavie.isnull().sum())

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525601
dtype: int64

In [74]:
data_Benin_parakou.shape

(525601, 19)

In [75]:
data_Benin_parakou.describe

<bound method NDFrame.describe of                Timestamp   GHI   DNI   DHI  ModA  ... Cleaning Precipitation  \
0       yyyy-mm-dd hh:mm  W/m²  W/m²  W/m²  W/m²  ...   1 or 0        mm/min
1       2021-08-13 00:01  -0.9   NAN   NAN     0  ...        0             0
2       2021-08-13 00:02  -0.9   NAN   NAN     0  ...        0             0
3       2021-08-13 00:03  -0.9   NAN   NAN     0  ...        0             0
4       2021-08-13 00:04  -0.9   NAN   NAN     0  ...        0             0
...                  ...   ...   ...   ...   ...  ...      ...           ...
525596  2022-08-12 23:56    -1  -0.1    -1     0  ...        0             0
525597  2022-08-12 23:57    -1  -0.1    -1     0  ...        0             0
525598  2022-08-12 23:58    -1  -0.1    -1     0  ...        0             0
525599  2022-08-12 23:59    -1  -0.1    -1     0  ...        0             0
525600  2022-08-13 00:00    -1  -0.1    -1     0  ...        0             0

       TModA TModB                                           Comments
0         °C    °C                                                NaN
1       23.2  23.3  Solar tracker not aligned, no DNI and DHI meas...
2       23.2  23.3  Solar tracker not aligned, no DNI and DHI meas...
3       23.2  23.3  Solar tracker not aligned, no DNI and DHI meas...
4       23.2  23.3  Solar tracker not aligned, no DNI and DHI meas...
...      ...   ...                                                ...
525596  24.1  24.1                                                NaN
525597  24.1  24.1                                                NaN
525598  24.1  24.1                                                NaN
525599  24.1  24.1                                                NaN
525600  24.1  24.1                                                NaN

[525601 rows x 19 columns]>